{{- /* Tabela godzin przyjec (table.hours) z data/gabinet.yaml (przez
       gabinet-model.html); data-dzien = numer dnia (1 = poniedzialek), skrypt
       podswietla dzisiejszy wiersz. */ -}}
{{- with (partialCached "gabinet-model.html" site "gabinet").tydzien }}
      <table class="hours">
        <caption class="visually-hidden">Godziny przyjęć gabinetu</caption>
        <tbody>
        {{- range . }}
        {{- if and .od .do }}
        <tr data-dzien="{{ .nr }}"><th scope="row">{{ .dzien }}</th><td>{{ .od }}&ndash;{{ .do }}</td></tr>
        {{- else }}
        <tr data-dzien="{{ .nr }}"><th scope="row">{{ .dzien }}</th><td class="closed">nieczynne</td></tr>
        {{- end }}
        {{- end }}
        </tbody>
      </table>
{{- end -}}
