{{- /* Zdjecie do podgladu linku (Open Graph) i danych strukturalnych:
       pierwsze zdjecie z sekcji strony (baner, tekst, galeria), a gdy strona
       nie ma zdjec - pierwsze zdjecie strony glownej. JPEG do 1200 px.
       Wejscie: Page. Wynik: dict "url" (pelny adres), "width", "height", "alt" albo false. */ -}}
{{- $wynik := false -}}
{{- $strony := slice . -}}
{{- if not .IsHome }}{{ $strony = $strony | append site.Home }}{{ end -}}
{{- range $p := $strony -}}
  {{- if not $wynik -}}
    {{- range $p.Params.sekcje -}}
      {{- if not $wynik -}}
        {{- $z := false -}}
        {{- if .zdjecie }}{{ $z = .zdjecie }}{{ else if and (eq .type "galeria") .elementy }}{{ $z = index .elementy 0 }}{{ end -}}
        {{- with $z -}}{{- with partial "zdjecie-zasob.html" (dict "strona" $p "zdjecie" .) -}}
          {{- if ne .MediaType.SubType "svg" -}}
            {{- $j := false }}{{ if gt .Width 1200 }}{{ $j = .Resize "1200x jpg" }}{{ else }}{{ $j = .Process "jpg" }}{{ end -}}
            {{- $wynik = dict "url" $j.Permalink "width" $j.Width "height" $j.Height "alt" $z.alt -}}
          {{- end -}}
        {{- end }}{{ end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $wynik -}}
