{{- /* Przyciski z numerami telefonow gabinetu (div.cluster jak w makiecie v1):
       pierwszy numer wypelniony z ikona, kolejne obrysowane.
       Wejscie: dict "styl" (atrybut style). */ -}}
{{- $m := partialCached "gabinet-model.html" site "gabinet" -}}
{{- with $m.telefony }}
        <div class="cluster"{{ with $.styl }} style="{{ . | safeCSS }}"{{ end }}>
          {{- range $i, $t := . }}
          {{ partial "telefon-btn.html" (dict "telefon" $t "klasa" (printf "btn %s" (cond (eq $i 0) "btn--primary" "btn--ghost")) "ikona" (eq $i 0)) }}
          {{- end }}
        </div>
{{- end -}}
