{{- /* Blok "galeria": naglowek, wstep, elementy [{plik, alt, podpis}]. */ -}}
{{- $b := .blok -}}
<section {{ partial "blok-atrybuty.html" $b }}>
  {{- with $b.naglowek }}
  <h2>{{ . }}</h2>
  {{- end }}
  {{- with $b.wstep }}{{ partial "markdown.html" (dict "strona" $.strona "tekst" .) }}{{ end }}
  <ul class="galeria">
    {{- range $b.elementy }}
    <li>
      <figure>
        {{ partial "image.html" (dict "strona" $.strona "zdjecie" . "szerokosc" 800) }}
        {{- with .podpis }}
        <figcaption>{{ . }}</figcaption>
        {{- end }}
      </figure>
    </li>
    {{- end }}
  </ul>
</section>
