{{- /* Blok "tabela": naglowek, wstep, podpis, kolumny (napisy), wiersze
       [{komorki (napisy), cena (id pozycji cennika)}]. Gdy choc jeden wiersz
       ma cene, tabela dostaje ostatnia kolumne "Cena" z cennika. */ -}}
{{- $b := .blok -}}
{{- $gdzie := "Strona" }}{{ with $.strona.File }}{{ $gdzie = .Path }}{{ end -}}
{{- $zCena := false }}{{ range $b.wiersze }}{{ if .cena }}{{ $zCena = true }}{{ end }}{{ end -}}
{{- $kolumny := $b.kolumny | default slice -}}
<section {{ partial "blok-atrybuty.html" $b }}>
  {{- with $b.naglowek }}
  <h2>{{ . }}</h2>
  {{- end }}
  {{- with $b.wstep }}{{ partial "markdown.html" (dict "strona" $.strona "tekst" .) }}{{ end }}
  <table class="tabela">
    {{- with $b.podpis }}
    <caption>{{ . }}</caption>
    {{- end }}
    <thead>
      <tr>{{ range $kolumny }}<th scope="col">{{ . }}</th>{{ end }}{{ if $zCena }}<th scope="col">Cena</th>{{ end }}</tr>
    </thead>
    <tbody>
      {{- range $i, $w := $b.wiersze }}
      {{- $komorki := $w.komorki | default slice }}
      <tr>
        {{- range $j, $_ := $kolumny }}
        {{- $tekst := "" }}{{ if lt $j (len $komorki) }}{{ $tekst = index $komorki $j }}{{ end }}
        {{- if eq $j 0 }}<th scope="row">{{ $tekst | $.strona.RenderString }}</th>{{ else }}<td>{{ $tekst | $.strona.RenderString }}</td>{{ end }}
        {{- end }}
        {{- if $zCena }}
        {{- $poz := partial "cennik-pozycja.html" (dict "id" $w.cena "gdzie" (printf "%s: tabela, wiersz %d" $gdzie (add $i 1))) }}
        <td>{{ with $poz }}{{ partial "cena.html" . }}{{ end }}</td>
        {{- end }}
      </tr>
      {{- end }}
    </tbody>
  </table>
</section>
