{{- /* Numer telefonu do odnosnika tel: - same cyfry z "+" na poczatku.
       "76 72-26-880" -> "+48767226880" (9 cyfr = numer polski, dostaje +48),
       "076 722 68 80" -> "+48767226880" (stary zapis z "0" na poczatku),
       "0048 699 904 989" / "+48 699 904 989" -> "+48699904989".
       Ta sama regula byla w jednorazowym imporcie danych z prototypu gamstom. */ -}}
{{- $cyfry := replaceRE `\D` "" (string .) -}}
{{- if hasPrefix $cyfry "00" }}{{ $cyfry = strings.TrimPrefix "00" $cyfry }}
{{- else if and (hasPrefix $cyfry "0") (eq (len $cyfry) 10) }}{{ $cyfry = strings.TrimPrefix "0" $cyfry }}{{ end -}}
{{- if eq (len $cyfry) 9 }}{{ $cyfry = printf "48%s" $cyfry }}{{ end -}}
{{- return (printf "+%s" $cyfry) -}}
